# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

# Uploads
uploads/production/*
!uploads/production/.gitkeep
uploads/test/*
!uploads/test/.gitkeep
private_uploads/production/*
!private_uploads/production/.gitkeep
private_uploads/test/*
!private_uploads/test/.gitkeep
